{% extends 'base.html' %}
{% block title %}
  <title>Технологии</title>
{% endblock %}
{% block header %}
  Технологии
{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Django</li>
        <li class="list-group-item">Photoshop</li>
        <li class="list-group-item">Cubase</li>
        <li class="list-group-item">Premiere</li>
        <li class="list-group-item">FLStudio</li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Питон учить - это вам не в политику идти: тут думать надо</p>
    </article>
  </div>
{% endblock %}
